@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');

.sub-header{
    font-family: 'Roboto Serif', serif;
    margin: 20px 0;
    text-transform: uppercase;
}

div b{
    /* font-family: 'Roboto Serif', serif; */
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Zilla Slab', serif;
}