@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

.form-configuration{
    margin-left: 10%;
    margin-right: 10%;
}

.header-title{
    margin-left: 25% ;
    font-style: oblique;
    text-transform: uppercase;
    margin-bottom: 5%;
    margin-top: 2%;
    font-family: 'Roboto Slab', serif;
}

.display{
    height: 100%;
    background: linear-gradient(white, cyan , blue);
}