.btn-drop{    
    margin-bottom: 20px;
}

.btn-cancel{
    background-color: red;
    color: black;
    font-family: 'Roboto Slab', serif;
    padding: 15px 40px;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 20px;
}